@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<script type="text/javascript">

        $(document).ready(function () {

            $('.gvCity').css('display', 'none');
            $('.gvdist').css('display', 'none');
            $(".ddlprovince").change(function (e) {


                var dropdonw = $('.ddlprovince');
                var provval = dropdonw.val();
                BindCity(provval);
                Binddist(provval);
                $(".ddlcity").trigger('change');
                $(".ddldistrict").trigger('change');
            });
            function changeText(cell) {
                if (cell.textContent) {
                    str = cell.textContent;
                } else if (cell.innerHTML) {
                    str = cell.innerHTML;
                } else if (cell.innertext) {
                    str = cell.innertext;
                }
                return str;
            }
            function BindCity(provval) {

                var gridctlid = '<%=gvCity.ClientID%>';

                $('.ddlcity').empty();
                $('.ddlcity').append($("<option></option>").attr("value", "--Select--").text("--Select--"));
                ctlGridViewCity = document.getElementById(gridctlid);
                var tableRowCount = ctlGridViewCity.rows.length;

                for (i = 1; i < tableRowCount - 1; i++) {
                    currRow = ctlGridViewCity.rows[i];
                    provinceid = changeText(currRow.cells[3]); //.textContent;
                    cityName = changeText(currRow.cells[2]); //.textContent;
                    if (provinceid == provval) {
                        $('.ddlcity').append($("<option></option>").val(cityName).html(cityName));
                    }
                }

            };


            function Binddist(provval) {

                var griddistid = '<%=gvdist.ClientID%>';

                $('.ddldistrict').empty();
                $('.ddldistrict').append($("<option></option>").attr("value", "--Select--").text("--Select--"));
                ctlGridViewDist = document.getElementById(griddistid);
                var tableRowCount1 = ctlGridViewDist.rows.length;

                for (i = 1; i < tableRowCount1 - 1; i++) {
                    currRow = ctlGridViewDist.rows[i];
                    provinceid = changeText(currRow.cells[1]); //.textContent;
                    distName = changeText(currRow.cells[0]); //.textContent;
                    if (provinceid == provval) {
                        $('.ddldistrict').append($("<option></option>").val(distName).html(distName));
                    }
                }

            }


            $(".ddlcity").change(function (e) {
                var cityval = $(".ddlcity").val();

                var awID = '<%=ddlCityHidden.ClientID%>';
                var aw = document.getElementById(awID)
                $(aw).val(cityval);

            });
            $(".ddldistrict").change(function (e) {
                var distval = $(".ddldistrict").val();

                var dID = '<%=ddldistHidden.ClientID%>';
                var dw = document.getElementById(dID)
                $(dw).val(distval);

            });

            $(".chkCitizen").change(function () {
                if ($('.chkCitizen').attr('checked')) {

                    $('.tblPakistan').css('display', 'table');
                }
                else {
                    $('.tblPakistan').css('display', 'none');
                }

            });

            function isNumberKey(evt) {
                alert(evt);
                var charCode = (evt.which) ? evt.which : event.keyCode
                if (charCode != 46 && charCode > 31
            && (charCode < 48 || charCode > 57))
                    return false;

                return true;
            }

            $(".chkaddress").change(function () {
                if ($('.chkaddress').attr('checked')) {

                    $('.txtpermAddress').val($('.txtaddress').val())
                }
                else {
                    $('.txtpermAddress').val('');
                }

            });

        });
</script>
<div>
 
       
        <fieldset>
            <legend>
                <h2>Application Form</h2>
            </legend>


            <ul>
                <li id="Li32" class="list-style" runat='server' visible="True">

                    Find Your Tracking Number: <a href="#"> Click Here</a>
                </li>
                <li id="Li33" class="list-style" runat='server' visible="True">

                Modify Your Application: <a href="#"> Click Here</a>
                </li>
                <li class="list-style">
                    APPLICATION FORM FOR GRADE 1 TO 15  <a href="Download/Advertisement-2014/application-form for BS1-15.doc">Click Here</a>
                </li>
            </ul>
        </fieldset>




    <fieldset>
        <legend>
            <h2>Advertisement</h2>
        </legend>


        <ul>
            <li id="Li32" class="list-style" runat='server' visible="True">

               Vacant Possition: <a href="#"> Click Here</a>
            </li>
            

            <li class="list-style">
                APPLICATION FORM FOR GRADE 1 TO 15  <a href="Download/Advertisement-2014/application-form for BS1-15.doc">Click Here</a>
            </li>
        </ul>
    </fieldset>
  
</div>
